/* CSS Document */
.nav{position:relative;}
.secondNav{position:absolute; top:48px; left:0; right:0; z-index:98;display:none;}
.slideBox{height:320px; min-width:1200px; overflow:hidden; position:relative; margin-bottom:20px;}
.slideBox .bd li{width:100%; height:320px; position:relative;}
.slideBox .bd li img{position:absolute; left:50%; top:0; margin-left:-960px;}
.slideBox .hd ul{height:36px; padding-top:26px; background:rgba(255,255,255,0.5); position:absolute; bottom:0; width:100%; z-index:6; text-align:center;}
.slideBox .hd ul li{width:10px; height:10px; border-radius:5px; background:#fff; display:inline-block; margin:0 6px;}
.slideBox .hd ul li.on{background:#000;}

/*濞撴碍绋掗惇鐗堢┍閳╁啩绱*/
.tabContent{display:none;}
.gongxu{width:850px; float:left; position:relative;}
.gongxuMore{position:absolute; right:0; line-height:34px; top:0;}
.classNav{height:34px; border-bottom:solid 1px #98CB67;}
.classNav li{padding:0 36px; height:34px; line-height:34px; font-size:14px; color:#136333; cursor:pointer; float:left;}
.classNav li.cur{background-color:#339833; color:#fff; background-image:url(../images/index_point_top.png); background-repeat:no-repeat; background-position:center bottom; height:35px; position:relative; margin-bottom:-1px;}
.gongxuNav{height:30px; padding:2px 0 0 35px; background:#f5f5f5;}
.gongxuNav li{float:left; margin-right:46px; line-height:28px; height:28px; font-size:14px; padding:0 4px; cursor:pointer;}
.gongxuNav li.cur{border-bottom:solid 2px #98CB67;}
.gongying,.qiugou{width:864px;}
.metalItem{width:198px; height:198px; border:solid 1px #EEEFEF; margin:10px 16px 0 0; float:left;}
.metalItem .dt{margin:0 12px; color:#A78749; font-size:20px; height:48px; line-height:48px; padding-right:30px; position:relative;}
.metalItem .qiugouTitle{display:block; height:48px; overflow:hidden;}
.metalItem .dt:hover{z-index:1;}
.metalItem .dt span{ width: 146px;display: inline-block;overflow: hidden;height: 37px;}
.iconHangqing{display:block; background:url(../images/icon_zhuxing.png) no-repeat right center; width:30px; height:48px; position:absolute; right:0; top:0; cursor:pointer; padding-left:30px;}
.iconHangqing:hover{background:url(../images/icon_zhuxing2.png) no-repeat right center;}
.metalItem .itemLayer{position:absolute; top:30px; right:-390px; width:365px; height:330px; background:#fff; box-shadow:0 0 5px #999; display:none;padding:20px 0 0 20px;}
.metalItem .itemInfo{margin:0 12px; height:120px;}
.metalItem .itemInfo li{height:28px; line-height:28px; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.metalItem .itemInfo .size16{padding-right:10px;}
.qiugou .itemInfo .size18 em{padding:0 10px;}
.metalItem .itemBtns{height:30px; background:#f7f7f7;}
.metalItem .btnGreen{display:block; width:99px; height:30px; line-height:30px; float:left; background:none; color:#136333;}
.metalItem .btnGreen:hover{background:#339833; color:#fff;}

.gyrz{font-size:10px; color:#FFFFFF; width:20px; height:18px; line-height:18px;border-radius:5px; background-color:#339933; margin-right:4px; display:inline-block;text-align: center;position:absolute; left:-22px; top:0;}
.gyls{font-size:10px; color:#333333; width:18px; height:16px; line-height:16px;border-radius:5px; border:1px solid #333333;margin-right:4px; display:inline-block;text-align: center; position:absolute; left:-22px; top:0;}


/*闁告瑥鍘栭弲鑸电閵堝棙顬*/
.upRight{width:331px; float:right;}
.gongnengdian li{width:109px; height:109px; border:solid 1px #EEEFEF; position:relative; margin:0 -1px -1px 0; float:left; line-height:34px; text-align:center;}
.gongnengdian li em{height:65px; width:65px; display:block; margin:5px auto; background-image:url(../images/index_icon1.png); background-repeat:no-repeat;}
.weifeiIcon{background-position:0 0;}
.renzhengIcon{background-position:-65px 0;}
.yingxiaoIcon{background:-130px 0;}
.qiyeIcon{background:-195px 0;}
.gongyingIcon{background:-260px 0;}
.caigouIcon{background-position:-325px 0;}
.newDeal h3,.search h3,.companys h3{height:35px; line-height:35px; background:#f5f5f5; font-size:14px; text-indent:1em;}
.newDeal{border:solid 1px #EEEFEF;}
.newDeal .dataLine{height:32px; line-height:32px; border-bottom:solid 1px #efefef; margin:0 10px;}
.newDeal .dataItem{height:32px; padding:0 8px; float:left;}
.newDeal .dataLeft{overflow:hidden; width:178px; white-space:nowrap; text-overflow: ellipsis;}
.newDeal .dataRight{width:98px; text-align:right; float:right;}

/*闁告宕花鐐交閹邦垳缈*/
.yunshu{width:868px; float:left; border:solid 1px #EEEFEF; margin-top:20px;}
.yunshu h2{float:left; width:116px; height:35px; font-size:14px; line-height:35px; text-align:center; background:#339833; color:#fff;}
.yunshu .tabNav{height:34px; border-bottom:solid 1px #98CB67; font-size:14px; margin-bottom:14px; float:left; width:740px; padding-left:12px;}
.yunshu .tabNav li{padding:0 30px; margin-right:20px; float:left; color:#999; height:32px; line-height:32px; cursor:pointer;}
.yunshu .tabNav li:hover,.yunshu .tabNav li.cur{color:#136333; border-bottom:solid 2px #98CB67;}
.yunshu .cyList,.yunshu .hyList{height:316px; overflow:hidden;}
.yunshu table{width:100%; font-size:14px;}
.yunshu th{height:40px; border-bottom:solid 1px #CBCBCB; padding:0 10px; text-align:left;}
.yunshu td{line-height:20px; padding:14px 10px; vertical-align:middle; text-align:left; border-bottom:dashed 1px #d2d2d2;}
.yunshu td .green{font-size:14px; display:block; color:#393;}
.yunshu td .text{color:#999; display:block;}
.yunshu td a{color:#393;}

.cyList tr:nth-child(4) td,.hyList tr:nth-child(4) td{border-bottom:0;}
/*濞存嚎鍊涢幓锝夊捶閻楀牏鍙�柟*/
.search{width:328px; float:left; margin-top:20px; border:solid 1px #EEEFEF;}
.cities{padding:20px 10px; border-bottom:solid 1px #98CB67;}
.cities a{display:inline-block; height:30px; line-height:30px; padding:0 6px; margin:0 7px; font-size:14px; color:#999;}
.cities a:hover,.cities a.cur{color:#136333;}
.searchBtn{height:35px; padding:22px 10px 22px 14px;}
.searchBtn input{width:213px; height:33px; border:solid 1px #CFCFCF; text-indent:1em; display:block; float:left; margin-right:6px;}
.searchBtn .btnGreen{width:80px; height:35px; line-height:35px; display:block; float:left;}

/*闁哄倷鍗冲鍫㈡導閸曨噮鍞*/
.news{width:850px; padding-right:20px; float:left; margin-top:20px;}
.news .tabNav{height:35px; margin-bottom:18px;}
.news .tabNav li{padding:0 40px; height:35px; line-height:35px; float:left; margin-right:20px; font-size:16px; cursor:pointer; color:#393;}
.news .tabNav li.cur{background:#339833; color:#fff;}
.newsLeft{width:285px; height:285px; overflow:hidden; display:block; float:left; position:relative; margin-right:35px;}
.newsLeft span{display:block; height:30px; width:265px; padding:0 10px; line-height:30px; overflow:hidden; color:#fff; font-size:14px; background:#339833; position:absolute; bottom:0;text-overflow:ellipsis; white-space:nowrap;}
.newsfirst{width:530px; height:90px; float:left; margin-bottom:35px;}
.firstTitle{line-height:30px; font-size:16px; display:block;}
.firstText,.firstText:hover{line-height:20px; height:60px; overflow:hidden; color:#999;display:block;}
.newsList{width:530px; height:150px; float:left;}
.newsList li{line-height:30px; font-size:14px;}

/*閻犱降鍊涢惁澶嬪娴ｉ鐟*/
.companys{width:320px; padding:0 4px; float:left; margin-top:20px; border:solid 1px #EEEFEF; background:#f5f5f5;}
.companys dt{padding:12px; height:120px; border-bottom:solid 1px #e6e6e6;}
.companys dt img{display:block; float:left; margin:0 14px;}
.companys dd{padding:10px 20px;}
.companys dd li{line-height:30px; height:30px; overflow:hidden; font-size:14px;}

/*濞撮棿妞掔粭鐔烘媼閵堝牏妲*/
.renzheng{margin-top:20px;}
.renzheng h2,.jinrong h2{height:32px; line-height:32px; border-bottom:solid 1px #000; font-size:18px; margin-bottom:16px;}
.renzheng .autoAdv{width:283px; height:198px; overflow:hidden; border:solid 1px #EEEFEF; float:left; margin-right:8px; position:relative;}
.renzheng .autoAdvImg{display:block;}
.renzheng .autoAdvContent{max-height:100px; display:block; padding:10px 8px; line-height:20px; background:rgba(0,0,0,0.5); position:absolute; bottom:0; left:0; right:0; color:#fff; display:none;}
.renzheng .autoAdvText em{display:block; width:120px; height:35px; line-height:35px; background:#339833; color:#fff; font-size:14px; text-align:center; position:absolute; top:0; left:0;}
.renzhengRight{width:280px; float:right;}
.regLogin{line-height:35px; margin-bottom:10px;}
.regLogin h4{font-size:24px; height:40px; line-height:40px; margin-bottom:10px;}
.regLogin .btnLogin{display:inline-block; *display:inline; *zoom:1; width:100px; height:35px; font-size:18px; margin-right:10px;}
.loginLink{font-size:16px; margin:0 4px; color:#92B222;}
.regLogin em{background:url(../images/icon_gt.png) no-repeat; padding:5px; display:inline-block; *display:inline; *zoom:1;}
.weekData dt{line-height:36px;}
.weekData dd{line-height:36px;}
.weekData dd .green{font-size:16px; padding-right:6px; font-weight:700; color:#92B222;}
.weekData dd .green em{ font-family:Hiragino Sans GB; padding-right:8px; font-size:18px;}
.gray{color:#a0a0a0; padding-right:8px;}

/*闂佸弶鍨奸悗娲捶閵娧冩疇*/
.jinrong{margin-bottom:20px; margin-top:13px;}
.jinrong .autoAdv img{width:1200px; height:150px;}
.jinrong dl{width:240px; float:left;}
.jinrong dt{height:56px; line-height:56px; font-size:16px; color:#656533; margin-bottom:8px;}
.jinrong dt em{display:block; width:56px; height:56px; background-image:url(../images/index_icon2.png); background-repeat:no-repeat; float:left; margin-right:10px;}
.jinrongIcon1{background-position:0 0;}
.jinrongIcon2{background-position:-56px 0;}
.jinrongIcon3{background-position:-112px 0;}
.jinrongIcon4{background-position:-168px 0;}
.jinrongIcon5{background-position:-224px 0;}
.jinrong dd li{line-height:28px; font-size:14px; color:#999;}

/*鎶ヤ环/璁环寮瑰眰*/
.baojiaLayer{padding:20px 20px 0 20px;}
.dataInfo{padding-bottom:15px; border-bottom:solid 1px #e6e6e6;}
.dataInfo span{display:inline-block; font-size:14px; margin:0 30px; line-height:32px;}
.dataInfo span em{color:#999;}
.dataInfo span .red{padding-right:5px; font-size:18px;}
.dataInfo{padding-bottom:5px; border-bottom:solid 1px #e6e6e6;}
.dataInfo li{font-size:14px; margin:0 1%; width:48%; line-height:22px; float:left; padding-bottom:18px;}
.dataInfo li span{display:block; float:left; max-width:178px; height:22px; overflow:hidden; margin:0; line-height:22px;}
.dataInfo li .red{font-size:18px; padding-right:5px;}
.dataInfo li.line{width:98%;}
.dataInfo li.line span{width:450px; max-width:none; height:auto;}
.dataInfo li em{color:#999; display:block; width:84px; text-align:right; float:left;}
.dataInfo li.clear{float:none; height:0; padding:0;}
.baojiaLayer .apForm{margin-top:20px;}
.baojiaLayer .formItem{width:440px; margin:0 0 20px 70px;}
.baojiaLayer .formItem dt{width:60px; padding:0 10px; float:left; line-height:30px; text-align:right;}
.baojiaLayer .formItem .formImport{width:360px; float:left;}
.baojiaLayer .formBox{border:solid 1px #DFE2EA; width:258px; height:28px; text-indent:0.8em; margin-right:12px;}


.tablecName{ font-size:12px; color:#999999; display:inline-block;}
.tablecContent{ font-size:12px; color:#333333; display:inline-block;}
.money{ color:#333333;width:65px;overflow: hidden; font-size:14px;}
.cyList a.btnYj,.hyList a.btnYj{ display:inline-block; width:60px; height:24px; line-height:24px; text-align:center; background:#339933; color:#fff; font-size:12px; border-radius:8px; margin:0 auto;}

.xlxx{width:202px; line-height:18px; position:relative; margin-left:15px;}
.xlxx .tablecContent{width:128px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.xlxx .tablecName{width:60px; overflow:hidden;}
.clxx{width:304px; line-height:18px;}
.clxx .tablecContent{width:62px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.clxx .tablecName{width:60px; overflow:hidden;}
.mari30{margin-right:30px;}
.clxx  .mowi{width:85px;}
.date{font-size:12px;}
.font12{font-size:12px;}