/* CSS Document */

/*注册一屏显示*/
.main{ padding:20px 110px 10px 110px;}
.regTab li a{font-size:18px;}
.regContent{min-height:0px;padding:10px 50px;}
.rg2Content{min-height:278px;padding:35px 70px 0px 70px;}

