@charset "utf-8";
/* CSS Document */

@import url("personalBase.css");

body{background:url(../images/loginbody.jpg) no-repeat center center fixed; padding-top:17px;}
.loginLogo{display:block; float:right;}
.loginBox{width:352px; min-height:410px; background:url(../images/loginbg.png) no-repeat right 144px; background-color:#fff; margin:14px auto 0 auto; padding:36px 537px 154px 90px; box-shadow:1px 1px 1px #c0c0c0;}
.loginBox h2{font-size:24px; height:36px; line-height:36px; margin-top:36px;}
.formLine{padding-top:26px;}
.formLine dt{height:37px; line-height:37px; font-size:14px;}
.formLine dd{height:37px; position:relative;}
.textBox{width:350px; height:35px; line-height:35px\9; border-radius:3px; border:1px solid #e0e0e0;border-top-width:2px;width:345px;padding-left:2px;}
.textBoxFocus{border-color:#ff8400; background:#FEEFDF; outline:none;}
.errorText{height:31px; display:block; position:relative; margin-top:-69px; margin-top:-32px\0; float:right;}
.errorBoxL,.errorBoxR{display:block; width:4px; height:25px; float:left;}
.errorBoxL,.errorBoxR,.errorBoxB{overflow:hidden;}
.errorBoxL{background:url(../images/login.png) no-repeat 0 -6px;}
.errorMain{display:block; white-space:nowrap; height:25px; line-height:25px; color:#fff; padding:0 5px; background:#ff8400; float:left;}
.errorBoxR{background:url(../images/login.png) no-repeat -4px -6px;}
.errorBoxB{display:block; background:url(../images/login.png) no-repeat; width:12px; height:6px; position:absolute; bottom:0px; left:44%;}
.formBottom{height:26px; line-height:26px; padding:15px 0;}
.saveUserName{float:left; width:90px; position:relative; padding-left:16px; _padding-left:20px;}
.saveUserName input{position:absolute; left:0; top:6px; _top:3px;}
.formBottom .orange{float:right;}
.formBottom .orange:hover{text-decoration:underline;}
.btnLogin{width:350px; height:36px; line-height:36px; margin:0 auto; font-size:14px;}
.bottomText{height:30px; line-height:30px; padding-top:20px;510723197810106195}
.bottomText span{padding-right:10px;}
.bottomText .red{font-size:18px;}
.bottomText .red:hover{text-decoration:underline;}

/*底部*/
.footer{padding:16px 0; line-height:22px; margin-bottom:10px;}