/* CSS Document */


.borderColor{border-top-color:#FFC42B;}
.bgColor{background:#FFC42B;}
.borderBottomColor{border-bottom-color:#FFC42B;}
.bgColor,.bgColor:hover{background:#FFC42B!important;}
.fontColot{}
.btnColor{}