/* CSS Document */

.logoBar{background:#A78749;}/*顶导航*/
.leftNav h2{background:#b47e14;}/*左导航*/
.leftList dt{background:#A78749;}/*左导航子项*/
.leftList dd a:hover,.leftList dd a.cur{background:url(../../commons/images/cur_core.png) no-repeat left center;}
.bgColor,.bgColor:hover{background:#DECDAC!important; color:#000;}/*背景色*/
.borderColor{border-color:#DECDAC;}/*边框色*/
.borderBottomColor{border-bottom-color:#DECDAC;}/*下边框色*/
.bgColor{background:#DECDAC;}/*背景色*/
.navItem:hover{background:#DECDAC;}/*导航经过色*/
.tableThBgColor{background:#DECDAC;}/*首页表头色*/