body{font-size: 100%; background: #fff!important;}
*{margin:0;padding:0; font-weight: normal; font-style: normal; list-style: none;}
.clear{clear: both;}



#pageMain .mui-scroll{background: #fff;}
.scale *{box-sizing:content-box;}
.scaleBox{position:relative;}
.mui-scroll-wrapper,.mui-off-canvas-wrap{overflow:visible;}


#header{height:3rem; background:#1f1f1f;}
#header h1{margin-top:0.5rem; height:1.8rem; color:#fff;}
#header h1 img{height:80%;}
.mui-icon-bars:before{content: none;}
.mui-bar-nav.mui-bar .mui-icon{width:0.3rem; height:2.2rem; padding:0 1rem; margin:0.75rem 0.2rem 0 0;}
.mui-action-menu em{display: block; width: 0.24rem; height: 0.24rem; border-radius:50%; margin-bottom: 0.35rem; background: #fff;}
.mui-bar-nav~.mui-content{padding-top:3rem;}
#header .mui-pull-left{display:block; height:2rem; width:1.3rem; margin:0.8rem 0 0 0.5rem; background:url(../images/back_icon.png) no-repeat; background-size:100%;}

.nav-wrapper{background:#019fe8;}
.mui-off-canvas-left, .mui-off-canvas-right{width:58.6%;}
.nav-logo{text-align: center; padding: 1.3rem 0 1.2rem 0;}
.nav-logo img{width:50%;}
.mui-table-view{background:none; color: #fff;}
.mui-table-view-cell{padding: 14px 15px;}
.mui-table-view:before{background:#31aee8;}
.mui-table-view-cell.mui-active{background: none;}
.mui-table-view-cell>a:not(.mui-btn).mui-active {background:#01689A;}
.mui-table-view-cell:after{background-color:#31aee8; left: 0;}
.mui-table-view:after{background-color:#31aee8;}
.mui-table-view-chevron .mui-table-view-cell{padding-right:35px;}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell{padding:9px 0 9px 0;}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after{background-color:#31aee8; left: 0;}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{color: #fff; right: 40px; font-size: 24px;}
.mui-table-view-cell.mui-collapse .mui-table-view{border-top: solid 1px #31aee8;}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell a{font-size: 0.9rem;margin-left:0!important; padding-left:6rem!important;}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell a span{left:3.5rem;}
.mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after, .mui-table-view-cell.mui-collapse.mui-active>.mui-push-right:after{content:normal!important;}
.mui-table-view-cell.mui-collapse>.mui-navigate-right:after, .mui-table-view-cell.mui-collapse>.mui-push-right:after{content:normal!important;}
.mui-table-view-cell .mui-navigate-right{background:url(../images/sub-show.png) no-repeat 80% center; background-size:7%;}
.sub-show .mui-navigate-right{background:url(../images/sub-hide.png) no-repeat 80% center; background-size:7%;}

.mui-table-view a{padding-left:4rem!important;}
.mui-table-view .mui-icon{height:1.5rem;width:1.5rem; position: absolute; left:1.5rem; top: 0.6rem;}
.mui-table-view-cell li .mui-icon{height: 1.4rem; width: 1.4rem;}
.mui-table-view .menu1{background: url(../images/menu_icon1.png) no-repeat;background-size: 100%;}
.mui-table-view .menu1-1{background: url(../images/menu_icon1_1.png) no-repeat;background-size: 100%;}
.mui-table-view .menu1-2{background: url(../images/menu_icon1_2.png) no-repeat;background-size: 100%;}
.mui-table-view .menu1-3{background: url(../images/menu_icon1_3.png) no-repeat;background-size: 100%;}
.mui-table-view .menu1-4{background: url(../images/menu_icon1_4.png) no-repeat;background-size: 100%; margin-top:-0.1rem;}
.mui-table-view .menu1-5{background: url(../images/menu_icon1_5.png) no-repeat;background-size: 100%;}
.mui-table-view .menu2{background: url(../images/menu_icon2.png) no-repeat;background-size: 100%;margin-top: 0.2rem;}
.mui-table-view .menu2-1{background: url(../images/menu_icon2_1.png) no-repeat;background-size: 100%;}
.mui-table-view .menu2-2{background: url(../images/menu_icon2_2.png) no-repeat;background-size: 100%; margin-top: 0.2rem;}
.mui-table-view .menu3{background: url(../images/menu_icon3.png) no-repeat;background-size: 100%;}
.mui-table-view .menu3-1{background: url(../images/menu_icon3_1.png) no-repeat;background-size: 100%;margin-top:0rem;}
.mui-table-view .menu4{background: url(../images/menu_icon4.png) no-repeat;background-size: 100%;margin-top: 0.1rem;}
.mui-table-view .menu5{background: url(../images/menu_icon5.png) no-repeat;background-size: 100%;margin-top: 0.1rem;}
.mui-table-view .menu2-3{background: url(../images/menu_icon2_3.png) no-repeat;background-size: 100%;}
.mui-table-view .menu2-4{background: url(../images/menu_icon2_4.png) no-repeat;background-size: 100%;}
.mui-table-view .menu2-5{background: url(../images/menu_icon2_5.png) no-repeat;background-size: 94%; margin-top: -0.1rem;}
.mui-table-view .menu2-6{background: url(../images/menu_icon2_6.png) no-repeat;background-size: 94%;}
.mui-off-canvas-wrap.mui-active .mui-off-canvas-backdrop{background: rgba(0,0,0,0.6);}

.footer{height:3rem; line-height: 3rem; background:#1f1f1f; color: #fff; font-size:0.65rem; text-align: center;}