@charset "utf-8";
/* CSS Document */

@import url("../demand.css");
@import url("../add.css");

.ht_fl_bj dt{width:auto; float:none;}
.ht_fl_bj{width:60%; padding-top:0; padding-left:0;}
.ht_list .cz{text-align:center;}
.moves{text-align:center; padding:45px 0;}
.moveDown{display:inline-block; background:url(../../images/movedown.png) no-repeat; width:76px; height:109px; margin-right:150px;}
.moveUp{display:inline-block; background:url(../../images/moveup.png) no-repeat; width:73px; height:109px;}
.pro_ss_btn{position:relative;}
.listHeader{height:30px; line-height:30px; text-align:right; position:absolute; bottom:10px; right:0;}
.pro_ss .pro_ss_item{width:600px;}
.noneData{color:#f00; height:40px; line-height:40px; padding:20px 0; text-align:center; font-size:14px;}
